
.role-moderator {
    background: linear-gradient(to bottom, #007bff, #0056b3); /* Blue gradient */
    border-radius: 20px;
    opacity: 0.7; /* Opacity less than 70% */
    color: white;
    padding:8px 10px 8px 10px;
    width: 30px;
    font-size: 12px; /* Text color */
}


.role-user {
    background: linear-gradient(to bottom, black,  blue); /* Blue gradient */
    border-radius: 20px;
    opacity: 0.5; /* Opacity less than 70% */
    color: white;
    padding:5px 25px 5px 25px;
    width: 30px; /* Text color */
}
.role-admin {
    background: rgba(75, 0, 130, .91); /* Blackish purple gradient */
    border-radius: 20px;
    opacity: 0.7; /* Opacity less than 70% */
    color: white;
    padding:5px 20px 5px 20px;
     /* Text color */
}
.parent{
    width: 30px;
}