@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.active{
    @apply bg-[rgba(75,0,130,.91)] hover:bg-[rgba(75,0,130,.40)] text-white
}
.dashNav{
    padding: 8px;
    text-align: center;
    /* background-color:rgba(75,0,130,.6) ; */

}

.shadowOne{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.list:active{
    color: black;
}
.purpleText{
    color:#7D0DC3
}
.purple-bg{
        background: rgba(75, 0, 130, .91); /* Blackish purple gradient */
}
.purpleBg{
  background: rgba(75, 0, 130, .9); /* Blackish purple gradient */
}

.purpleLinear {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(75, 0, 130, .7));
}
.gradient-button {
    background: linear-gradient(to right, purple, black);
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top:10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background 0.3s ease;
    text-align: center;
  }

  .gradient-button:hover {
    background: linear-gradient(to right, black, purple);
  }

  .resultSlider{
    background-color: red !important;
  }


  .headerText{
    color: #7D187E;
  }


  .shadowF{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }